In [20]:
import pandas as pd

# MEMBERS = ['601','602','603','604','605','606','607','608','609','610','611','612','613','614','615','616','617','618','619','620','621','622','623','624','625','627','628','629','630','631','632','633','634','635','636','637','638','639','641','643','644','645','650','651','652','653']
MEMBERS = ['603']

In [22]:
# val_csv = "./KNIH_MERGE_FOLD/val/" + sid + ".csv"
val_csv = "./KNIH_MERGE_FOLD/val/" + str(603) + ".csv"
print(val_csv)
cal_csv = "./res.csv"

df = pd.read_csv(val_csv)
df

./KNIH_MERGE_FOLD/val/603.csv

     date  mAcc  mGyr  mPre   mLi  wAcc  wGyr  wPre   wHR   All
0     803  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0   0.0
1     804  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0   0.0
2     805  66.0  65.5   0.0  68.2  21.1  21.7  25.0  49.5  39.6
3     806  77.9  77.9   0.0  81.7  35.8  37.5  41.0  70.7  52.8
4     807  69.9  69.2   0.0  75.2  27.5  29.7  34.1  66.2  46.5
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
195   214  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0   0.0
196   215  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0   0.0
197   216  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0   0.0
198   217  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0   0.0
199   218  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0  -1.0   0.0

[200 rows x 10 columns]

In [23]:
df = df[df.mAcc != 0]
df = df[df.mAcc != -1]
df

    date  mAcc  mGyr  mPre   mLi  wAcc  wGyr  wPre   wHR   All
2    805  66.0  65.5   0.0  68.2  21.1  21.7  25.0  49.5  39.6
3    806  77.9  77.9   0.0  81.7  35.8  37.5  41.0  70.7  52.8
4    807  69.9  69.2   0.0  75.2  27.5  29.7  34.1  66.2  46.5
5    808  55.4  54.2   0.0  61.7  49.7  53.3  58.2  77.5  51.3
6    809  71.3  60.4   0.0  77.0  55.3  60.3  66.7  88.2  59.9
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
84  1026  74.8  74.6   0.0  65.8  48.7  48.7  47.3  70.5  53.8
85  1027  64.4  63.8   0.0  51.8  54.4  54.5  53.2  75.3  52.2
86  1028  77.7  77.5   0.0  68.3  64.7  64.7  63.5  81.3  62.2
87  1029  68.9  68.8   0.0  60.2   2.9   2.9   3.0   3.0  26.2
88  1030  51.8  51.8   0.0  46.8  13.0  12.9  12.8  20.1  26.1

[69 rows x 10 columns]

In [24]:
df = df.drop('date', axis=1)

m_mean = df.iloc[:, 0:4].mean().mean()
m_mean = str(round(m_mean,1))

w_mean = df.iloc[:, 4:].mean().mean()
w_mean = str(round(w_mean,1))

In [25]:
write_down_list = [603, m_mean, w_mean]
write_down_list

[603, '52.2', '50.6']

In [ ]:
# for sid in MEMBERS:
    
#     val_csv = "./KNIH_MERGE_FOLD/val/" + sid + ".csv"
#     print(val_csv)
#     cal_csv = "./res.csv"

#     df = pd.read_csv(val_csv)

#     df = df[df.mAcc != '0']
#     df = df[df.mAcc != '-1']


#     df = df.replace(-1, 0)
#     df = df.drop('date', axis=1)

#     m_mean = df.iloc[:, 0:4].mean().mean()
#     m_mean = str(round(m_mean,1))
#     # m_mean = str(m_mean.round(1))

#     w_mean = df.iloc[:, 4:].mean().mean()
#     w_mean = str(round(w_mean,1))
#     # w_mean = str(w_mean.round(1))

#     writer = open(cal_csv, "a+")
#     # writer.write("SID" + ',' + "Mobile" + ',' + "Watch" + '\n')

#     write_down_list = [sid, m_mean, w_mean]

#     for i in range(0, 3):
#         writer.write(write_down_list[i] + ',')
#     writer.write('\n')

#     writer.close()



#     print("-----DONE-----")